.error{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: $color-font-2;
    width: max-content;
    margin: 270px auto;
    padding: 20px;
    @include custom-box-shadow;
    &__title{
        font-size: 6rem;
        margin-bottom: 40px;
        &--msg{
            font-size: 1.5rem;
            margin-bottom: 50px;
        }
    }
    &__redirect{
        margin-top: 50px;
        text-decoration: underline;
        font-size: 1.2rem;

}

 @media screen and (max-width: 1000px) {
  width: 345px;
  &__title{
        font-size: 3.1rem;
        margin-bottom: 40px;
        &--msg{
            font-size: 0.9rem;
            margin-bottom: 50px;
        }
    }
}
}